# Magento core & caches
/vendor/
/var/
/pub/static/
/pub/media/
/app/etc/env.php
/app/etc/config.php

# Generated code
/generated/
/.idea/
/*.log
/*.sql

# OS files
.DS_Store
*.swp
/node_modules/

/bk/
pub/privkey.pem
