<?xml version="1.0"?>
<!-- 
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MpBuyerSellerChat
 * @author    Webkul
 * @copyright Copyright (c)  Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Webkul_Marketplace::marketplace" title="Marketplace Management" sortOrder="10" >
                    <resource id="Webkul_Marketplace::menu" title="Menu" sortOrder="10">
                        <resource id="Webkul_MpBuyerSellerChat::menu" title="Buyer Seller Chat" sortOrder="10">
                            <resource id="Webkul_MpBuyerSellerChat::block" title="Blocked User List" sortOrder="10" />
                            <resource id="Webkul_MpBuyerSellerChat::history" title="Chat History" sortOrder="20" />
                        </resource>
                    </resource>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Webkul_MpBuyerSellerChat::config_chatsystem" title="Buyer Seller Chat System" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>