<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="hitpay" translate="label comment" type="text" sortOrder="310" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>HitPay</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                    <comment>This controls the title which the user sees during checkout.</comment>
                </field>
                <field id="mode" translate="label" type="select" sortOrder="15" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Mode</label>
                    <source_model>SoftBuild\HitPay\Model\System\Source\Mode</source_model>
                </field>
                <field id="api_key" translate="label"  sortOrder="30" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Api Key</label>
                    <validate>required-entry</validate>
                </field>
                <field id="salt" translate="label"  sortOrder="32" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Salt</label>
                    <validate>required-entry</validate>
                </field>
                <field id="paymentlogos" translate="label" type="multiselect" sortOrder="35" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Payment Logos</label>
                    <source_model>SoftBuild\HitPay\Model\System\Source\Paymentlogos</source_model>
                    <comment>Selected logos will be displayed on the checkout.</comment>
                </field>
		<field id="auto_invoice" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Enabled Auto Invoice</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="new_order_status" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>New Order Status</label>
                    <source_model>Magento\Sales\Model\Config\Source\Order\Status\Newprocessing</source_model>
                    <comment>This status will be set after successfull payment</comment>
                </field>
                <field id="debug" translate="label" type="select" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Debug</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="allowspecific" translate="label" type="allowspecific" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Countries</label>
                    <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                </field>
                <field id="specificcountry" translate="label" type="multiselect" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Specific Countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sort Order</label>
                </field>
            </group>
        </section>
    </system>
</config>