<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
<default>
    <payment>
        <hitpay>
            <model>SoftBuild\HitPay\Model\Pay</model>
            <title>HitPay Payment Gateway</title>
            <allowspecific>0</allowspecific>
            <active>0</active>
            <debug>0</debug>
            <order_status>pending_payment</order_status>
            <payment_action>order</payment_action>
        </hitpay>
    </payment>
</default>
</config>